<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    
    <title>HBS Main Page</title>
  </head>
  <body>
    <div class='main-content'>
      {{>header}}
      <p>Please use this site sooner</p>
      <form id='searchForm'>
        <input placeholder="Location">
        <button>Pesquisar</button>
      </form>
      <p id='messageOne'></p>
      <p id='messageTwo'></p>
    </div>
    
    {{>footer}}
    <script src="/js/app.js"></script>
  </body>
</html>